.47_9 { 
	overflow:hidden;
}.e47_9 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1466px;
	height:1124px;
	position:absolute;
}.e47_10 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(0.27348149074525135deg);
	background-color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:1465.876220703125px;
	height:37.89358139038086px;
	position:absolute;
	left:0.180908203125px;
	top:215px;
}.47_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e47_11 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:63px;
	height:26px;
	position:absolute;
	left:113px;
	top:222px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_12 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:230px;
	height:26px;
	position:absolute;
	left:590px;
	top:224px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_13 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:214px;
	height:21px;
	position:absolute;
	left:937px;
	top:225px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_37 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:214px;
	height:21px;
	position:absolute;
	left:1200px;
	top:222px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_14 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:304px;
	top:222px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_16 { 
	width:379px;
	height:353px;
	position:absolute;
	left:486px;
	top:-52px;
	background-image:url(images/victoria_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_32 { 
	width:599px;
	height:751px;
	position:absolute;
	left:35px;
	top:279px;
	background-image:url(images/rectangle_28.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_36 { 
	color:rgba(0, 0, 0, 1);
	width:749px;
	height:300px;
	position:absolute;
	left:685px;
	top:466px;
	font-family:Charm;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e49_45 { 
	width:47px;
	height:45px;
	position:absolute;
	left:250px;
	top:1033px;
	background-image:url(images/_cone_logo_instagram_png_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e49_49 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:11px;
	position:absolute;
	left:275px;
	top:1033px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e49_50 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:11px;
	position:absolute;
	left:39px;
	top:1047px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e49_47 { 
	width:47px;
	height:59px;
	position:absolute;
	left:35px;
	top:1030px;
	background-image:url(images/r_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e49_52 { 
	background-color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:142px;
	height:39px;
	position:absolute;
	left:973px;
	top:806px;
}.e49_54 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:201px;
	height:42px;
	position:absolute;
	left:943px;
	top:810px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}